{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
   <div class="container">
     <h1 align="center">Напишите нам отзыв или предложение</h1>
     <form method="post">
            {% csrf_token %}

            {{ form.subject.label }}
            {{ form.subject }}

            {{ form.content.label }}
            {{ form.content }}
            <br>
            <input type="submit" class="btn btn-primary" value="Отправить сообщение">
     </form>
     <br>
     <a class="btn btn-success" href="{% url 'index' %}">Назад</a>
   </div>
{% endblock %}
