{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 align="center">Добавление скейтборда</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="btn btn-info" type="submit" value="Добавить скейт">
            <br><br>
            <a class="btn btn-success" href="{% url 'skates_list' %}">Назад</a>
        </form>
    </div>
{% endblock %}
