{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container">
<table>
<tr>
	<td>{% if skate_item.photo != Null %}
            <img src="{{ skate_item.photo.url }}" class="card-img-top" alt="{{ skate_item.name }}" style="width: 22rem">
        {% else %}
            <img src="{% static 'image/icon_placeholder_3.jpg' %}" class="card-img-top" alt="{{ skate_item.name }}" style="width: 18rem">
        {% endif %}
    </td>
	<td>
        <p>Название: {{ skate_item.name }}</p>
        <p>Описание: {{ skate_item.description }}</p>
        <p>Цена: {{ skate_item.price }}</p>
        <p>Артикул товара: {{ skate_item.article_number }}</p>
        <p>Цвет: {{ skate_item.color }}</p>
        <br>
        <input type="submit" class="btn btn-success" value="Добавить в корзину">
        <br>
        <p><a class="btn btn-danger" href="{% url 'skate_delete' skate_item.pk  %}">Удалить скейтборд</a></p>
    </td>
</tr>
</table>
</div>

{% endblock %}