<div class="container">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Skate Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'skates_list' %}">Список скейтбордов</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact_email' %}">Связь с нами</a>
        </li>
        {% endif %}

      </ul>
      <form class="d-flex">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'log_in' %}">Авторизация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reg' %}">Регистрация</a>
            </li>
        {% else %}
            <li>
                <a class="nav-link" >Привет, {{ user.username }}!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_basket_prod' %}">Корзина</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'log_out' %}">Выйти</a>
            </li>
        {% endif %}
      </ul>
      </form>
    </div>
  </div>
</nav>
</div>
